<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <a href="/board/insert">글쓰기</a>
    <table border="1">
        <tr>
            <th width="50">번호</th>
            <th width="300">제목</th>
            <th width="100">작성자</th>
            <th width="200">등록일자</th>
            <th width="200">수정일자</th>
        </tr>

        <th:block th:if="${boardList.isEmpty()}">
            <tr>
                <td colspan="5" align="center">조회된 데이터가 없습니다.</td>
            </tr>
        </th:block>

        <th:block th:each="board : ${boardList}">
            <tr>
                <td th:text="${board.no}"></td>
                <td>
                    <a th:href="|/board/read?id=${board.id}|" th:text="${board.title}">제목</a>
                </td>
                <td th:text="${board.writer}"></td>
                <td align="center" th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td align="center" th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </th:block>
        
    </table>

    
</body>
</html>