<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>

    <form action="/board/delete" method="post">
        <input type="hidden" name="no" th:value="${board.no}">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title" th:value="${board.title}" readonly>
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" th:value="${board.writer}" readonly>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" id="content" cols="40" rows="5" readonly th:text="${board.content}"></textarea>
                </td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="moveUpdate()">수정</button>
            <button type="button" onclick="moveList()">목록</button>
        </div>
    </form>

    <h2>댓글 목록</h2>
    <table border="1">
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>등록일자</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <th:block th:each="comments : ${commentsList}">
            <tr>
                <td th:text="${comments.writer}"></td>
                <td th:text="${comments.content}"></td>
                <td th:text="${#dates.format(comments.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <form action="/board/updateComments" method="post">
                        <input type="hidden" name="no" th:value="${board.no}">
                        <input type="hidden" name="commentNo" th:value="${comments.no}">
                        <button type="submit">수정</button>
                    </form>
                </td>
                <td>
                    <form action="/board/deleteComments" method="post">
                        <input type="hidden" name="no" th:value="${board.no}">
                        <input type="hidden" name="commentNo" th:value="${comments.no}">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>

    <h3>댓글 작성</h3>
    <form action="/board/addComments" method="post">
        <input type="hidden" name="boardNo" th:value="${board.no}">
        <table>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" required>
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea name="content" required></textarea>
                </td>
            </tr>
        </table>
        <button type="submit">댓글 작성</button>
        <table>
            <tr>
                <th>no</th>
                <th>이미지</th>
                <th>파일명</th>
                <th>용량</th>
                <th>타입</th>
                <th>액션</th>
            </tr>
            <th:block th:each="file : ${fileList}">
                <tr>
                    <td><span th:text="${file.no}"></span></td>
                    <td>
                        <img th:src="|/img?id=${file.id}|" height="100" alt="파일 이미지">
                    </td>
                    <td><span th:text="${file.fileName}"></span></td>
                    <td><span th:text="${file.fileSize}"></span></td>
                    <td><span th:text="${file.type}"></span></td>
                    <td>
                        <button type="button">다운로드</button>
                        <button type="button">삭제</button>
                    </td>
                </tr>
            </th:block>
        </table>
    </form>

    <script>
        let id = "[[${board.id}]]"

        function moveUpdate() {
            location.href = '/board/update?id=' + id
        }

        function moveList() {
            location.href = '/board/list'
        }
    </script>
</body>
</html>
