<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.aloha.security_method.mapper.BoardMapper">

    <select id="list" resultType="Board">
        SELECT b.*
               ,u.no user_no
               ,u.name
               ,u.username
        FROM board b join user u ON b.user_no = u.no
        WHERE 
            <if test="option.code == 0">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            OR u.name LIKE CONCAT('%', #{option.keyword}, '%')
            OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                 content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                 u.name LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        <if test="option.orderCode == 0">
            ORDER BY created_at DESC
        </if>
        <if test="option.orderCode == 1">
            ORDER BY title ASC
        </if>
        
        LIMIT #{page.index}, #{page.rows}
    </select>

    <select id="select" resultType="Board">
        SELECT b.*
               ,u.no user_no
               ,u.name
               ,u.username
        FROM board b join user u ON b.user_no = u.no
        WHERE b.id = #{id}
    </select>

    <!-- Mybatis 의 useGenerateKeys 를 사용하면
        MySQL 의 AUTO_INCREMENT 되는 값을 전달한 객체에 지정한 변수로 매핑할 수 있다.
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO board( id, title, user_no, content)
        VALUES ( #{id}, #{title}, #{userNo}, #{content} )
    </insert>


    <update id="update">
        UPDATE board
           SET title = #{title}
              ,content = #{content}
              ,updated_at = now()
        WHERE id = #{id}
    </update>


    <delete id="delete">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <!-- 데이터 개수 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
          FROM board b join user u ON b.user_no = u.no
         WHERE
            <if test="option.code == 0">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            OR u.name LIKE CONCAT('%', #{option.keyword}, '%')
            OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                 content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            OR content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                 u.name LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
    </select>

    <!-- 회원번호 비교 -->
  <!-- UserMapper.xml -->
    <select id="isOwner" resultType="boolean" parameterType="map">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM board b
        JOIN user u ON b.user_no = u.no
        WHERE b.user_no = #{buserNo} AND u.no = #{userNo}
    </select>
</mapper>