<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.community.mapper.CommentsMapper">
    <select id="list" resultType="Comments">
        SELECT *
        FROM comments
    </select>

    <select id="select" resultType="Comments">
        SELECT *
        FROM comments
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO comments( id, board_no,  writer, content)
        VALUES (#{id},#{boardNo}, #{writer}, #{content} )
    </insert>

    <update id="update">
        UPDATE comments
           SET writer = #{writer}
              ,content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM comments
        WHERE id = #{id}
    </delete>

    <!-- 게시글 기준 목록 -->
    <select id="listByParent" resultType="Comments">
        SELECT *
        FROM comments
        WHERE board_no = #{boardNo}
    </select>
    
    <!-- 게시글 기준 삭제 -->
    <delete id="deleteByParent">
        DELETE
        FROM comments
        WHERE board_no = #{boardNo}
    </delete>
</mapper>